body{
    justify-content: center;
    align-items: center;
    display: flex;
}

.box{
    width: 20rem;
    height: 20rem;
    margin: 2rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box p {
background-color: blueviolet;
padding: 0.5rem;
border-radius: 5px;
}


footer{
    background-color: black;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;

}
.footer-logo-container{
    width: 8rem;
    background-color: white;
    border-radius: 100%;
    border: 1px solid crimson;

}
.footer-logo-container img{
    width: 100%;

}
.links-containers{
    display: flex;
    font-weight:bold ;
    gap: 3.5rem;
}
.logos-container li{
    width: 4rem;
}
.links-container li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.logos-container{
    display: flex;
    gap: 3.5rem;
}
.logos-container img{
    filter: invert(100);
    width: 100%;
    transition: 200ms;
}
.logos-container img:hover{
    transform: scale(1.3);
}